@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="border-4 border-solid border-green-900">Hello i am trying to use tailwind with blazor</div>